[Unit]
Description = Backend Service

[Service]
User=expense
Environment=DB_HOST=""
ExecStart=/bin/node /app/index.js
SysLogIdentifier=Backend

[Install]
WantedBy=mutli-user.target